/* BASIC STYLES HERE */
:root {
    --wwhite: #f4f1de;
    --pink: #e07a5f;
    --blue: #3d405b;
    --green: #81b29a;
    --yellow: #f2cc8f;
    --dark-pink: #98513d;
    --dark-green: #3c7759;



}

body {
    font-family: 'Epilogue', sans-serif;
    background-color: var(--blue);
    color: var(--wwhite);
}

textarea {
    overflow-y: auto;
}

.textarea1:focus {
    color: var(--blue);
    background-color: var(--wwhite);
}

.btn-notebook {
    color: var(--green);
    background-color: var(--blue);
    border-color: var(--green);
}

.btn-notebook:hover {
    color: var(--yellow);
    background-color: var(--blue);
    border-color: var(--yellow);
}

.logo {
    font-weight: 900;
}


.bg-wwhite {
    background-color: var(--wwhite);
}

.text-wwhite {
    color: var(--wwhite);
}

.bg-blue {
    background-color: var(--blue);
}

.text-blue {
    color: var(--blue);
}

.bg-pink {
    background-color: var(--pink);
}

.text-pink {
    color: var(--pink);
}

.bg-green {
    background-color: var(--green);
}

.text-green {
    color: var(--green);
}

.bg-yellow {
    background-color: var(--yellow);
}

.text-yellow {
    color: var(--yellow);
}


.bg-dark-pink {
    background-color: var(--dark-pink);
}

.text-dark-pink {
    color: var(--dark-pink);
}

.bg-dark-green {
    background-color: var(--dark-green);
}

.text-dark-green {
    color: var(--dark-green);
}