/* BASIC STYLES HERE */

.cir-color-red {
    color: red;
}

.cir-color-yellow {
    color: yellow;
}

.cir-color-green {
    color: green;
}

.cir-color-black {
    color: black;
}

.cir-color-white {
    color: white;
}